M5/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="incidents">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="incident">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="event_detail">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="Kind" type="xs:string" use="required" />
                                            <xs:attribute name="Date_of_event" type="xs:string" use="required" />
                                            <xs:attribute name="Time" type="xs:string" use="required" />
                                            <xs:attribute name="Building_location" type="xs:string" use="required" />
                                            <xs:attribute name="Room_No" type="xs:decimal" use="optional" />
                                            <xs:attribute name="School_admin_department" type="xs:string" use="optional" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="injured_person">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="description_of_event" type="xs:string" />
                                        <xs:element name="nature_extent_of_any_injury_damage" type="xs:string" />
                                        <xs:element name="nature_of_treatmen_given_and_by_whom" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="Status" type="xs:string" use="required" />
                                    <xs:attribute name="Name" type="xs:string" use="required" />
                                    <xs:attribute name="Staff_student_ID_No" type="xs:unsignedInt" use="required" />
                                    <xs:attribute name="Job_Title" type="xs:string" use="required" />
                                    <xs:attribute name="Supervisor_manager" type="xs:string" use="optional" />
                                    <xs:attribute name="Tel_No" type="xs:unsignedLong" use="required" />
                                    <xs:attribute name="Email" type="xs:string" use="required" />
                                    <xs:attribute name="School_Administrative_unit" type="xs:string" use="optional" />
                                    <xs:attribute name="Treatment" type="xs:string" use="required" />
                                    <xs:attribute name="Absence_from_work" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="report_person">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="Name" type="xs:string" use="required" />
                                            <xs:attribute name="Job_title" type="xs:string" use="required" />
                                            <xs:attribute name="Email" type="xs:string" use="required" />
                                            <xs:attribute name="Tel_No" type="xs:unsignedLong" use="required" />
                                            <xs:attribute name="School_Administrative_unit" type="xs:string" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" type="xs:unsignedShort" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>